securess-bipro/src/main/resources/xsd/bipro-kontext-vertrag-2.6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bipro.net/namespace/kontext/vertrag"
            xmlns:kt-vtrg="http://www.bipro.net/namespace/kontext/vertrag"
            xmlns:basis="http://www.bipro.net/namespace/basis"
            xmlns:vtrg="http://www.bipro.net/namespace/vertrag"
            xmlns:dt="http://www.bipro.net/namespace/datentypen"
            xmlns:bipro="http://www.bipro.net/namespace"
            xmlns:kt="http://www.bipro.net/namespace/kontext"
            xmlns:allg="http://www.bipro.net/namespace/allgemein"
            targetNamespace="http://www.bipro.net/namespace/kontext/vertrag"
            bipro:Name="bipro-kontext-vertrag-2.6.0.xsd"
            bipro:Version="2.6.0"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
   <xsd:annotation>
      <xsd:appinfo>BiPRO Release 2.6
		(Build: 20160617-1214)</xsd:appinfo>
   </xsd:annotation>
   <xsd:import namespace="http://www.bipro.net/namespace/datentypen"
               schemaLocation="bipro-datentypen-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/kontext"
               schemaLocation="bipro-kontext-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/vertrag"
               schemaLocation="bipro-vertrag-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/allgemein"
               schemaLocation="bipro-allgemein-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/basis"
               schemaLocation="bipro-basis-2.6.0.xsd"/>
   <xsd:element name="Filter" type="kt-vtrg:CT_Vertragssuche"/>
   <xsd:element name="Ergebniseintrag" type="kt-vtrg:CT_VertragssucheErgebnis"/>
   <xsd:complexType name="CT_VertragssucheKfz">
      <xsd:complexContent>
         <xsd:extension base="CT_VertragssucheSpartenspezifisch">
            <xsd:sequence>
               <xsd:element name="AmtlichesKennzeichen" type="dt:ST_Text012" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Verkürzte Suche mit Wildcard-Stern am Ende ist als KANN-Option zulässig (z. B. HH-XY* findet HH-XY123, HH-XY456 etc.). Andere Wildcards („?" etc.) werden nicht unterstützt.
Daher wird der Datentyp ST_Text012 anstelle das Datentyps ST_AmtlichesKennzeichen verwendet, der einen '*' nicht zulässt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Fahrzeugidentifizierungsnummer" type="dt:ST_Text025" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Suche MUSS auf vollständige Identität zur gesamten gelieferten Zeichenkette erfolgen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Versicherungsbestaetigungsnummer" type="dt:ST_VbNummer" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Suche MUSS auf vollständige Identität zur gesamten gelieferten Zeichenkette erfolgen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_VertragssucheSpartenspezifisch" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Vertragssuche">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Als Suchparameter MUSS mindestens ein Attribut gefüllt werden. Werden mehrere Attribute gefüllt, gelten die Suchparameter als mit UND verknüpft.
Ein Service Provider DARF Vorgaben machen, welche Attribute oder Attribut-Kombinationen mindestens belegt sein müssen. Sind diese nicht erfüllt, MUSS er mit einem SOAP-Fault und MeldungID=01402 reagieren (siehe Norm 480.0).</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="kt:CT_Filter">
            <xsd:sequence>
               <xsd:element name="Versicherungsscheinnummer" type="dt:ST_Text017" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Verkürzte Suche mit Wildcard-Stern am Ende ist als KANN-Option zulässig (z. B. 4711* findet 4711001, 4711002 etc). Andere Wildcards („?" etc.) werden nicht unterstützt.
Daher wird der Datentyp ST_Text017 anstelle das Datentyps ST_Versicherungsscheinnummer verwendet, der Sonderzeichen nicht zulässt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Vorgangsnummer" type="dt:ST_Vorgangsnummer" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Ist noch keine Vertragsnummer zugewiesen worden, dient die Vorgangsnummer, die vom Provider bei der Einreichung eines Antrags vergeben wurde, zur Identifizierung eines Antrags.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="VorgangsnummerVM" type="dt:ST_Vorgangsnummer" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Eindeutige Identifizierung eines Antrags beim Vermittler.
Verkürzte Suche mit Wildcard-Stern am Ende ist als KANN-Option zulässig (z. B. 4711* findet 4711001, 4711002 etc). Andere Wildcards („?" etc.) werden nicht unterstützt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Sparte" type="dt:ST_Sparte" minOccurs="0" maxOccurs="1" nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Suche MUSS auf Identität zum gelieferten Spartenschlüssel erfolgen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Partnernummer" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Suche MUSS auf vollständige Identität zur gesamten gelieferten Zeichenkette erfolgen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="PartnernummerVM" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Suche MUSS auf vollständige Identität zur gesamten gelieferten Zeichenkette erfolgen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Unternehmen" type="allg:CT_Unternehmen" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="VertragssucheSpartenspezifisch" type="CT_VertragssucheSpartenspezifisch"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Kontonummer" type="dt:ST_Text017" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Verkürzte Suche mit Wildcard-Stern am Ende ist als KANN-Option zulässig (z. B. 4711* findet 4711001, 4711002 etc). Andere Wildcards („?" etc.) werden nicht unterstützt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Depotnummer" type="dt:ST_Text017" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Verkürzte Suche mit Wildcard-Stern am Ende ist als KANN-Option zulässig (z. B. 4711* findet 4711001, 4711002 etc). Andere Wildcards („?" etc.) werden nicht unterstützt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="GlaeubigerID" type="dt:ST_GlaeubigerID" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">GläubigerID eines SEPA-Mandats.
DARF NUR zusammen mit dem Attribut Mandatsreferenz verwendet werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Mandatsreferenz" type="dt:ST_Mandatsreferenz" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Mandatsreferenz eines SEPA-Mandats.
DARF NUR zusammen mit dem Attribut GlaeubigerID verwendet werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Vertragsverbindungsnummer" type="dt:ST_Text017" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Nummer, die mehrere Verträge verbindet (z.B. Rahmenvertrag, Gruppenvertrag).
Verkürzte Suche mit Wildcard-Stern am Ende ist optional zulässig (z. B. 4711* findet 4711001, 4711002 etc). Andere Wildcards („?" etc.) werden nicht unterstützt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_VertragssucheErgebnis">
      <xsd:complexContent>
         <xsd:extension base="kt:CT_Ergebniseintrag">
            <xsd:sequence>
               <xsd:element name="Vertrag" type="vtrg:CT_Vertrag" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>