securess-bipro/src/main/resources/xsd/bipro-prozesse-vertrag-kranken-2.6.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bipro.net/namespace/prozesse/versicherung/vertrag/kranken"
            xmlns:pz-kranken="http://www.bipro.net/namespace/prozesse/versicherung/vertrag/kranken"
            xmlns:partner="http://www.bipro.net/namespace/partner"
            xmlns:pm="http://www.bipro.net/namespace/produktmodell"
            xmlns:pm-kranken="http://www.bipro.net/namespace/versicherung/produktmodell/kranken"
            xmlns:pz-vtrg="http://www.bipro.net/namespace/prozesse/vertrag"
            xmlns:dt="http://www.bipro.net/namespace/datentypen"
            xmlns:bipro="http://www.bipro.net/namespace"
            targetNamespace="http://www.bipro.net/namespace/prozesse/versicherung/vertrag/kranken"
            bipro:Name="bipro-prozesse-vertrag-kranken-2.6.1.xsd"
            bipro:Version="2.6.1"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
   <xsd:annotation>
      <xsd:appinfo>BiPRO Release 2.6.1
		(Build: 20160908-1036)</xsd:appinfo>
   </xsd:annotation>
   <xsd:import namespace="http://www.bipro.net/namespace/datentypen"
               schemaLocation="bipro-datentypen-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/prozesse/vertrag"
               schemaLocation="bipro-prozesse-vertrag-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/versicherung/produktmodell/kranken"
               schemaLocation="bipro-versicherung-kranken-2.6.1.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/produktmodell"
               schemaLocation="bipro-produktmodell-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/partner"
               schemaLocation="bipro-partner-2.6.0.xsd"/>
   <xsd:complexType name="CT_AenderungVertragDynamikAblehnung">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung der Ablehnung einer Beitragsdynamik.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Referenz" type="dt:ST_Referenz" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Referenz des Produkts bzw. Tarifs, dessen Dynamik abgelehnt werden soll.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AnzahlWidersprueche" type="dt:ST_Ganzzahl" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Gewünschte Anzahl der Aussetzungen einer Beitragsdynamik.
DARF NUR im Kontext einer proaktiven Aussetzung durch den Kunden verwendet werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ZusaetzlicheAenderungsantragVertragDaten">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Zusätzliche Daten zum Änderungsantrag der Sparte private Krankenversicherung.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="pz-vtrg:CT_ZusaetzlicheAenderungsantragVertragDaten">
            <xsd:sequence>
               <xsd:element name="Aktionskennzeichen" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Internes Kennzeichen einer (z. B. vertrieblichen) Aktion.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Antragsdatum" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Datum, an dem der Änderungsantrag gestellt wurde.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BedingungenZurKenntnisGenommen" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Ja = VN hat Bedingungen zur Kenntnis genommen (gemäß Antragsmodell).
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BesondereVereinbarungen" type="dt:ST_Text1000" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Besondere Vereinbarungen mit dem Kunden zum Antrag.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="EinwilligungInformationsanfrage" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Einwilligung zur Informationseinholung bei Dritten.
Ja = Einwilligung liegt vor
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="VVGBeratungsverzicht" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Erklärung des Kunden, auf eine Beratung durch den Vermittler zu verzichten.
Ja = Kunde hat Entsprechendes erklärt
Nein = Sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AntragUnterschrieben" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe, ob ein unterschriebener Antrag (elektronisch oder materiell) vorliegt.
Ja = Ein entsprechender Antrag liegt vor
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DatenschutzerklaerungUnterschrieben" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe, ob die Datenschutzerklärung vom Kunden unterschrieben wurde.
Ja = Datenschutzerklärung wurde vom Kunden unterschrieben
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Abschlussmodell" type="dt:ST_Abschlussmodell" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art des Abschlussmodells (z.B. Antragsmodell, Invitatiomodell).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ArtDerBeratung" type="dt:ST_ArtDerBeratung" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie der Kunde vom Vermittler beraten wurde (z.B. durch persönliches Gespräch).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BedingungUebergabeform" type="dt:ST_BedingungUebergabeform" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie dem Kunden die VVG-konformen Versicherungsbedingungen ausgehändigt wurden (z.B. durch E-Mail).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DatenschutzerklaerungKenntnisnahme"
                            type="dt:ST_DatenschutzerklaerungKenntnisnahme"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie der Kunde über die Datenschutzerklärung aufgeklärt wurde (z.B. durch Aushändigung).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertrag" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Basisklasse für alle Vertragsänderungen der Sparte private Krankenversicherung.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="pz-vtrg:CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Grund" type="dt:STE_GrundAenderungsantrag" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Grund der Änderung.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Optionsausuebung" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe, ob es sich bei der Änderung um die Ausübung einer vertraglich vereinbarten Option handelt.
Ja = Es handelt sich um die Ausübung einer entsprechenden Option
Nein = Es handelt sich nicht um die Ausübung einer entsprechenden Option</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Bearbeitungsposition" type="dt:ST_Ganzzahl" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Position dieser Änderung innerhalb der vorgegebenen Bearbeitungsreihenfolge eines Request-Response-Zyklus.
Hierfür MUSS für jede Änderung eine unterschiedliche, positive Ganzzahl – beginnend mit 1 für die Änderung, die zuerst bearbeitet werden soll – vergeben werden. Die weiteren Änderungen MÜSSEN mit aufsteigenden Ganzzahlen versehen werden.
Der Provider MUSS diese Reihenfolge einhalten.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Partner" type="partner:CT_Partner" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertragBeihilfe">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung von Beihilfeänderungen.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Partnernummer" type="dt:ST_Text030" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Partnernummer des Partners, dessen Beihilfesatz geändert werden soll.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Partnerdaten" type="pm-kranken:CT_Partnerdaten" minOccurs="1"
                            maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertragDynamikBeitrag">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung der Änderung einer Beitragsdynamik.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Referenz" type="dt:ST_Referenz" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Referenz auf das zu ändernde Produkt oder den zu ändernden Tarif.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Dynamik" type="pm:CT_Dynamik" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertragExkasso">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Änderung der Exkassodaten eines Vertrags.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Referenz" type="dt:ST_Referenz" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Referenz auf das Krankenprodukt, dessen Exkassodaten geändert werden sollen.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="NeuerLeistungsempfaenger" type="pm-kranken:CT_Leistungsempfaenger"
                            minOccurs="1"
                            maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertragDynamikLeistung">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung der Änderung einer Leistungsdynamik.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Referenz" type="dt:ST_Referenz" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Referenz auf das zu ändernde Produkt oder den zu ändernden Tarif.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Leistungsart" type="dt:STE_VersicherungssummeOderLeistung" minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Leistungsart deren Dynamik angepasst werden soll.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Dynamik" type="pm:CT_Dynamik" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_AenderungVertragTarif">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung von Änderungen zu Tarifen eines Vertrags für die Sparte private Krankenversicherung.
Im Falle des Abgangs eines Tarifs MUSS das Attribut Grund mit 07 ("Abgang eines Tarifs") belegt werden und der Abgangsgrund über das Attribut Tarif.Abgangsgrund (geerbt von bipro-produktmodell:Produktbaustein) spezifiziert werden.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_AenderungVertrag">
            <xsd:sequence>
               <xsd:element name="Referenz" type="dt:ST_Referenz" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Referenz des Krankenprodukts, in das der gewünschte Tarif eingeschlossen werden soll. 
Dieses Attribut DARF NUR bei der GeVoArt 120 041 001 (Hinzunahme von Tarifen) verwendet werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Tarif" type="pm-kranken:CT_Tarif" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>