securess-bipro/src/main/resources/xsd/bipro-produktmodell-2.6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bipro.net/namespace/produktmodell"
            xmlns:pm="http://www.bipro.net/namespace/produktmodell"
            xmlns:basis="http://www.bipro.net/namespace/basis"
            xmlns:allg="http://www.bipro.net/namespace/allgemein"
            xmlns:partner="http://www.bipro.net/namespace/partner"
            xmlns:dt="http://www.bipro.net/namespace/datentypen"
            xmlns:bipro="http://www.bipro.net/namespace"
            targetNamespace="http://www.bipro.net/namespace/produktmodell"
            bipro:Name="bipro-produktmodell-2.6.0.xsd"
            bipro:Version="2.6.0"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
   <xsd:annotation>
      <xsd:appinfo>BiPRO Release 2.6
		(Build: 20160617-1214)</xsd:appinfo>
   </xsd:annotation>
   <xsd:import namespace="http://www.bipro.net/namespace/datentypen"
               schemaLocation="bipro-datentypen-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/partner"
               schemaLocation="bipro-partner-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/allgemein"
               schemaLocation="bipro-allgemein-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/basis"
               schemaLocation="bipro-basis-2.6.0.xsd"/>
   <xsd:complexType name="CT_ZusaetzlicheProduktbausteinDaten" abstract="true">
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Kondition">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Alles was den Preis beeinflusst ist eine Kondition. Wird der Leistungsumfang oder das versicherte Risiko beschrieben, MUSS dies über ein Attribut im Datenmodell abgebildet werden. Konditionen erhalten über die fachliche Ebene ihren Kontext und sind für alle Ebenen relevant. Beispiele: Verkaufsprodukt = Bündelungsnachlass; Produkt = Mehrpersonennachlass in Unfall; Elementarprodukt = BU-Zuschlag in Leben. Konditonen DÜRFEN NICHT auf der nächst höheren Ebene als Summe dargestellt werden.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="KategorieID" type="dt:STE_KategorieID" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Mit der KategorieID wird festgelegt ob es sich bei der Kondition um einen Zuschlag oder Abschlag handelt. Wenn das Attribut Kondition/Wert gefüllt ist, MUSS eine KategorieID angegeben werden. Wenn kein Wert vorhanden ist, DARF die KategorieID ignoriert werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ArtID" type="dt:STE_Kondition" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Wertfreier Name der Kondition. Ob es sich bei der Kondition um einen Zu- oder Abschlag handelt MUSS über das Attribut KategorieID festgelegt werden. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Wert" type="dt:ST_Dezimalzahl" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Berechnungsgrundlage gemaess Einheit, z. B. Prozentsatz oder Waehrungsbetrag. Die Ausprägung DARF NICHT mit Vorzeichen geliefert werden. Ob es sich um einen Zu- oder Abschlag  handelt wird über das Attribut KategorieID gesteuert.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Werteinheit" type="dt:ST_Werteinheit" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Einheit der Berechnungsgrundlage.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Grund" type="dt:ST_Text1000" minOccurs="0" maxOccurs="1" nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Textliche Begründung zur vereinbarten Kondition.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Waehrung" type="dt:ST_Waehrungsschluessel" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Waehrungsschluessel. MUSS angegeben werden, wenn für das Attribut Werteinheit der Wert 20 (Währung gem. Währungsschlüssel) gewählt wurde.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Gueltigkeit" type="allg:CT_Zeitraum" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Bezeichnung" type="dt:ST_Text255" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Eine für Menschen verständliche Bezeichnung der Kondition. DARF NICHT anstelle einer ArtID genutzt werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_GeteilterBeitrag">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung geteilter Beiträge (z.B. Arbeitgeber- und Arbeitnehmeranteil in der betrieblichen Altersvorsorge).
Der von GeteilterBeitrag referenzierte Betrag MUSS der Summe aller Teilbeiträge entsprechen.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_Beitrag">
            <xsd:sequence>
               <xsd:element name="Teilbeitrag" type="CT_Teilbeitrag" minOccurs="2" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Verkaufsprodukt">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Oberste Ebene der Produkthierarchie gemaess VAA-Modell. Buendelt Produkte und Verkaufsprodukte zu einer verkaufbaren Einheit. Darf nicht spartenspezifisch abgeleitet werden, da ansonsten die spartenuebergreifende Buendelung von Produkten innerhalb des Verkaufsproduktes nicht funktionieren kann.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_Produktbaustein">
            <xsd:sequence>
               <xsd:element name="Kennung" type="dt:ST_VerkaufsproduktKennung" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Erfolgt die Identifizierung eines Verkaufsproduktes mittels einer technischen Kennung, MUSS hierfür das Attribut Kennung benutzt werden. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Produkt" type="CT_Produkt" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Produkt">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Mittlere Ebene der Produkthierarchie gemaess VAA-Modell. Spartenspezifisch abzuleiten.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_Produktbaustein">
            <xsd:sequence>
               <xsd:element name="Sparte" type="dt:ST_Sparte" minOccurs="0" maxOccurs="1" nillable="true"/>
               <xsd:element name="Paket" type="dt:STE_Paket" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Pakete beschreiben verschiedene Leistungsumfänge. Kalkulatorisch handelt es aber um den gleichen Tarif (z.B. Pauschaldeklarationen Basis, Standard, Plus, usw.).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Kennung" type="dt:ST_ProduktKennung" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Erfolgt die Identifizierung eines Produktes  mittels einer technischen Kennung, MUSS hierfür das Feld Kennung benutzt werden. Erfolgt die Identifizierung durch weiche Merkmale, MUSS die Kennung im Response zurück geliefert werden. Für Tarife, die grundsätzlich über weiche Merkmale ermittelt werden können gilt: ist auf Grund der gelieferten weichen Merkmale keine Identifizierung des Tarifes möglich MUSS eine Fehlermeldung (Meldung 01015) zurückgegeben werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Elementarprodukt" type="CT_Elementarprodukt" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Dynamik" type="CT_Dynamik" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Kuendigungsklausel" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">JA = Explizite Kündigung des Vertrages erforderlich
NEIN = Vertrag endet automatisch zum Ablauf (z.B. Bauherrenhaftpflicht). Wird das Attribut nicht geliefert, MUSS es als mit ´Ja` belegt interpretiert werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BesondererVerwendungszweck" type="dt:ST_BesondererVerwendungszweck"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Kennzeichnet Verträge mit einem besonderen Verwendungszweck.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Beitrag">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Zu zahlende, vorgegebene oder berechnete Beiträge.
Beiträge werden auf der nächst höheren Ebene aggregiert.

Beispiel für Versicherungen:
Tarifbeitrag, Gesamtbeitrag Brutto ohne Überschussverrechnung (Schlüssel 07)

./. Überschüsse

= Nettobeitrag inklusive etwaigem Ratenzahlungszuschlag (Schlüssel 02)

+ Versicherungssteuer

= Beitrag inklusive etwaiger Steuer (Schlüssel 01)

Verwendungsbeispiel ArtID=10: An einem Produktbaustein wird ein Objekt Beitrag (ArtID=07, Betrag=100, Waehrung=EUR...) angegeben und ein Objekt Beitrag (ArtID=10, Prozentsatz=40,Erhebung=Zeitraum[2 Jahre]...). Das heißt, der Tarifbeitrag beträgt 40 €/Monat in den ersten zwei Jahren und anschließend 100 €/Monat für den Rest der Aufschubzeit.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="ArtID" type="dt:STE_Beitrag" minOccurs="0" maxOccurs="1" nillable="true"/>
               <xsd:element name="Betrag" type="allg:CT_Betrag" minOccurs="0" maxOccurs="1" nillable="true"/>
               <xsd:element name="Zahlungsweise" type="dt:ST_Zahlungsweise" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Zahlungsweise für die der Beitrag in diesem Beitragsobjekt (ggf. abweichend von der gewünschten Zahlweise im Produktbaustein) angegeben ist. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Prozentsatz" type="dt:ST_Prozent" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Dient der Darstellung verminderter Anfangsbeiträge als Prozentsatz des vereinbarten Regel- bzw. Zielbeitrags. MUSS angegeben werden, wenn ArtID gleich 21 ist (DARF andernfalls NICHT angegeben werden).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Dauer" type="dt:ST_Dauer" minOccurs="0" maxOccurs="1" nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">MUSS befüllt werden, wenn das Endedatum unbestimmt ist. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Erhebung" type="allg:CT_Zeitraum" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="VermoegenswirksameLeistung" type="partner:CT_VermoegenswirksameLeistung"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Steuer" type="allg:CT_Steuer" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Beitragsfoerderung" type="CT_Beitragsfoerderung" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Beitragsschuldner" type="CT_Beitragsschuldner" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="BeitragImRueckstand" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Weist aus, ob dieser Beitrag im Rückstand ist.
Ja = Beitrag ist im Rückstand
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Beitragsschuldner">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Beitragsschuldner des Teilbeitrags.
Hierbei handelt es sich um den Partner, der den entsprechenden Beitrag einbringt. Er DARF vom Beitragszahler abweichen.
Bsp.: Bei einer Entgeltumwandlung ist der Beitragsschuldner der Arbeitnehmer während der Beitragszahler in der Regel der Arbeitgeber ist.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="partner:CT_Partnerrolle">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Elementarprodukt" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Unterste Ebene der Produkthierarchie gemaess VAA-Modell. Kleinste tariefierbare Einheit. Spartenspezifisch abzuleiten und zu benennen (z.B. Deckung, Tarif, etc.).</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_Produktbaustein">
            <xsd:sequence>
               <xsd:element name="Kennung" type="dt:ST_ElementarproduktKennung" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Erfolgt die Identifizierung eines Elementarproduktes mittels einer technischen Kennung, MUSS hierfür das Attribut Kennung benutzt werden. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Dynamik" type="CT_Dynamik" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Produktbaustein" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Basisklasse aller Produktbausteine (Verkaufsprodukt, Produkt, Elementarprodukt) gemaess VAA-Modell.

Das Attribut Tarifgeneration (ST_Tarifgeneration) fehlt, da der entsprechende einfache Datentyp nicht spezifiziert ist.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="Bezeichnung" type="dt:ST_Text255" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Eine für Menschen verständliche Bezeichnung des Elementarproduktes, Produktes oder Verkaufsproduktes. Das Attribut Bezeichnung DARF NICHT als Tarifkennung benutzt werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="GewuenschteZahlungsweise" type="dt:ST_Zahlungsweise" minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Gewünschte Zahlungsweise DARF NUR auf der Produktebene genutzt werden. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Kurzbeschreibung" type="dt:ST_Text1000" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Natürlichsprachliche Erläuterung des Bausteins. Wird beispielsweise im Response für die Bildschirmausgabe verwendet.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Bedingungen" type="dt:STE_Bedingungen" minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Bedingungen und Klauseln DÜRFEN NUR in dem für sie vorgesehenen Kontext angegeben werden. So MÜSSEN Bedingungen auf Verkaufsebene im Verkaufsprodukt oder Produkt erscheinen (z.B. VGB2005) und Klauseln zur Deckung am Elementarprodukt (z.B. Fahrradklausel). Das Attribut kann n-fach vorkommen, weil ein Produkt mehrere Bedingungswerke haben kann. Je Attribut wird eine Bedingung inkl. Bedingungsversion (z. B. VHB2005) geschlüsselt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Unternehmen" type="allg:CT_Unternehmen" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Kondition" type="CT_Kondition" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Beitrag" type="CT_Beitrag" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="ZusaetzlicheProduktbausteinDaten"
                            type="CT_ZusaetzlicheProduktbausteinDaten"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Aenderungsdatum" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Termin, zu dem der Zustand wirksam wird/wurde (Gültig-ab-/Wirksam-ab-Datum).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Aenderungsgrund" type="dt:ST_GeVoArt" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Grund der Änderung, die zu dem Zustand geführt hat.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Vertragsform" type="dt:ST_Vertragsform" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">DARF NUR auf den Ebenen Produkt und Elementarprodukt genutzt werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Abgangsgrund" type="dt:ST_Abgangsgrund" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">DARF NUR auf den Ebenen Produkt und Elementarprodukt genutzt werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Status" type="dt:ST_Vertragsstatus" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Status des Verkaufproduktes, Produktes oder Elementarproduktes.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Vertriebsname" type="dt:ST_Text255" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">DARF nur gefüllt werden, wenn der Vertriebsname von Bezeichnung abweicht</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Stichtagswert" type="allg:CT_Stichtagsbetrag" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Beitragszahler" type="partner:CT_Beitragszahler" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Versicherungsdauer" type="allg:CT_Zeitraum" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Zertifizierungsdaten" type="CT_Zertifizierungsdaten" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Beitragsfoerderung" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung einer Beitragsfoerderung.
Die konkrete Ausprägung des Förderkontext erfolgt per Ableitung.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Teilbeitrag">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Klasse zur Abbildung von Teilbeiträgen.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="Anteil" type="dt:ST_Prozent" minOccurs="0" maxOccurs="1" nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Anteil des Teilbeitrags an der Gesamtsumme.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Betrag" type="allg:CT_Betrag" minOccurs="0" maxOccurs="1" nillable="true"/>
               <xsd:element name="Beitragsfoerderung" type="CT_Beitragsfoerderung" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Beitragsschuldner" type="CT_Beitragsschuldner" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Dynamik">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Rechtlich vereinbarte Dynamik auf Beitraege oder Leistungen.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="ArtID" type="dt:STE_Dynamik" minOccurs="0" maxOccurs="1" nillable="true"/>
               <xsd:element name="Frequenz" type="dt:STE_Frequenz" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Wert" type="dt:ST_Prozent" minOccurs="0" maxOccurs="1" nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Hier wird der Prozentanteil ohne Prozentzeichen eingetragen.z.B. 5 = 5% oder 2.5 = 2,5%</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="KategorieID" type="dt:ST_DynamikKategorieID" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Unterscheidet, ob es sich bei der beschriebenen Dynamik um eine Beitrags- oder Leistungsdynamik handelt. </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Hochrechnung" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Dynamik fließt nicht in die Beitrags- bzw Leistungsverläufe ein</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="LetzteAnpassung" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Datum der letzten Dynamik. In der Lebensversicherung: Datum der letzten Dynamik, die nicht abgelehnt wurde.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DynamikStopp" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Datum, ab dem keine Dynamikerhöhung mehr stattfindet.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="NaechsteAnpassung" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Datum der nächsten Dynamik</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="VerbleibendeWidersprueche" type="dt:ST_Ganzzahl" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Anzahl der verbleibenden
Dynamikwidersprüche, ohne das Recht auf Dynamikerhöhung zu verlieren.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Zeitraum" type="allg:CT_Zeitraum" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Erhoehungsbetrag" type="allg:CT_Geldwert" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Zertifizierungsdaten">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Zertifizierungsdaten zum Produkt.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence>
               <xsd:element name="ArtID" type="dt:ST_ZertifizierungsArt" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art der Zertifizierung.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Zertifizierungsnummer" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Zertifizierungsnummer des Produkts gemäß ArtID.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>