securess-bipro/src/main/resources/xsd/bipro-versicherung-tarifierung-2.6.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bipro.net/namespace/versicherung/tarifierung"
            xmlns:tarif="http://www.bipro.net/namespace/versicherung/tarifierung"
            xmlns:basis="http://www.bipro.net/namespace/basis"
            xmlns:nachr="http://www.bipro.net/namespace/nachrichten"
            xmlns:partner="http://www.bipro.net/namespace/partner"
            xmlns:pm="http://www.bipro.net/namespace/produktmodell"
            xmlns:gevo="http://www.bipro.net/namespace/gevo"
            xmlns:vtrg="http://www.bipro.net/namespace/vertrag"
            xmlns:bipro="http://www.bipro.net/namespace"
            xmlns:allg="http://www.bipro.net/namespace/allgemein"
            xmlns:dt="http://www.bipro.net/namespace/datentypen"
            targetNamespace="http://www.bipro.net/namespace/versicherung/tarifierung"
            bipro:Name="bipro-versicherung-tarifierung-2.6.0.xsd"
            bipro:Version="2.6.0"
            elementFormDefault="qualified"
            attributeFormDefault="qualified">
   <xsd:annotation>
      <xsd:appinfo>BiPRO Release 2.6
		(Build: 20160617-1214)</xsd:appinfo>
   </xsd:annotation>
   <xsd:import namespace="http://www.bipro.net/namespace/datentypen"
               schemaLocation="bipro-datentypen-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/vertrag"
               schemaLocation="bipro-vertrag-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/gevo"
               schemaLocation="bipro-gevo-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/produktmodell"
               schemaLocation="bipro-produktmodell-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/partner"
               schemaLocation="bipro-partner-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/allgemein"
               schemaLocation="bipro-allgemein-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/nachrichten"
               schemaLocation="bipro-nachrichten-2.6.0.xsd"/>
   <xsd:import namespace="http://www.bipro.net/namespace/basis"
               schemaLocation="bipro-basis-2.6.0.xsd"/>
   <xsd:element name="getOffer">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OfferRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOrderResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OrderResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="setOrderResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OrderResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOrderQuestions">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OrderRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CT_Tarifierung">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Geschaeftsvorgang Tarifierung. Darf nicht spartenspezifisch abgeleitet werden, da sonst die spartenuebergreifende Buendelung von Produkten nicht mehr moeglich waere.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_TAA">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getQuote">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_QuoteRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getQuoteQuestions">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_QuoteRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getQuoteQuestionsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_QuoteResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CT_QuoteRequest">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Nachricht zur Anforderung einer Tarifierung.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAnfrage">
            <xsd:sequence>
               <xsd:element name="Tarifierung" type="CT_Tarifierung" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_OfferResponse">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Nachricht zur Antwort auf die Anfrage nach einem Angebot.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAntwort">
            <xsd:sequence>
               <xsd:element name="Angebot" type="CT_Angebot" minOccurs="0" maxOccurs="1" nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getOfferResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OfferResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="setOrderQualified">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OrderRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="setOrderQualifiedResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OrderResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOrderQualifiedResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OrderResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="setOrder">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OrderRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOrder">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OrderRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CT_OrderRequest">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Nachricht zur Anforderung und zum Einreichen eines Antrags.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAnfrage">
            <xsd:sequence>
               <xsd:element name="Antrag" type="CT_Antrag" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Angebot">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Geschaeftsvorgang Angebot. Darf nicht spartenspezifisch abgeleitet werden, da sonst die spartenuebergreifende Buendelung von Produkten nicht mehr moeglich waere.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_TAA">
            <xsd:sequence>
               <xsd:element name="Beitragszahler" type="partner:CT_Beitragszahler" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_TAA" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Basisklasse für Tarifierung, Angebot und Antrag</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="gevo:CT_Geschaeftsvorgang">
            <xsd:sequence>
               <xsd:element name="Zahlungsart" type="dt:ST_Zahlungsart" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Inkassoart" type="dt:ST_Inkassoart" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Die Inkassoart gibt an, von wem (VU oder VM) die Prämie eingezogen wird. Die Information ist bei einigen VU tarifierungsrelevant. Bei Inkassoart = 1 (Vermittlerinkasso) muss ggf. noch die Abrechnungsart angegeben werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Abrechnungsart" type="dt:ST_Abrechnungsart" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe ob es sich bei den vom Vermittler eingezogenen Beiträgen um Brutto- (Vermittler leitet auch den Courtageanteil an das VU weiter) oder  Nettobeiträge (Vermittler behält Courtageanteile ein) handelt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Partner" type="partner:CT_Partner" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Versicherungsnehmer" type="partner:CT_Vertragspartner" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Verkaufsprodukt" type="pm:CT_Verkaufsprodukt" minOccurs="1"
                            maxOccurs="unbounded"/>
               <xsd:element name="Aktivitaet" type="allg:CT_Aktivitaet" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="Gegenstand" type="allg:CT_Gegenstand" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="VorNebenVersicherung" type="vtrg:CT_VorNebenVertrag" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Personengruppe" type="partner:CT_Personengruppe" minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Vertragsverbindungsnummer" type="allg:CT_Vertragsnummer" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_QuoteResponse">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Antwort auf eine Tarifierungsanfrage.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAntwort">
            <xsd:sequence>
               <xsd:element name="Tarifierung" type="CT_Tarifierung" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_ZusaetzlicheAntragsdaten" abstract="true">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Analog zu den zusaetzlichen Partnerdaten aus dem Partner-Modell darf der Antrag nicht spartenspezifisch abgeleitet werden, da ansonsten die spartenuebergreifende Buendelung von Produkten nicht funktioniert. Um dennoch spartenspezifische Erweiterungen vorzunehmen, ist dieser Datentyp zu verwenden.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="basis:CT_Objekt">
            <xsd:sequence/>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CT_Antrag">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Geschaeftsvorgang Antrag. Darf nicht spartenspezifisch abgeleitet werden, da sonst die spartenuebergreifende Buendelung von Produkten nicht mehr moeglich waere.

Die Attribute Modell (ST_Antragsmodell), ArtDerBeratung (ST_ArtDerBeratung) und BedingungenUebergabeForm (ST_BedingungenUebergabeForm) fehlen, da die entsprechenden einfachen Datentypen nicht definiert sind.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="CT_TAA">
            <xsd:sequence>
               <xsd:element name="Hauptfaelligkeit" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Aktionskennzeichen" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Internes Kennzeichen einer (z. B. vertrieblichen) Aktion.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Antragsdatum" type="dt:ST_Datum" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Datum, an dem der Antrag gestellt wurde.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BedingungenZurKenntnisGenommen" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Ja = VN hat Bedingungen zur Kenntnis genommen (gemaess Antragsmodell).
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BesondereVereinbarungen" type="dt:ST_Text1000" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Besondere Vereinbarungen mit dem Kunden zum Antrag.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AktenzeichenVM" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Zuordnungsmerkmal des Vermittlers, z. B. Niederlassung/Büro des Vermittlers, Sachbearbeiter des Vermittlers, Vertragsnummer des Vermittlers. Das im Antrag übermittelte AktenzeichenVM MUSS vom Versicherer bei der Policierung zum Vertrag gespeichert und bei vertragsbezogenen Geschäftsvorgängen im Objekt Vertrag ausgegeben werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AktenzeichenVN" type="dt:ST_Text030" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Zuordnungsmerkmal des Versicherungsnehmers (VN), z. B. Niederlassung, Betriebsstätte, Abteilung, Kostenstelle des VN. Das im Antrag übermittelte AktenzeichenVN MUSS vom Versicherer bei der Policierung zum Vertrag gespeichert und bei vertragsbezogenen Geschäftsvorgängen im Objekt Vertrag ausgegeben werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="EinwilligungInformationsanfrage" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Einwilligung zur Informationseinholung bei Dritten.
Ja = Einwilligung liegt vor
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="VVGBeratungsverzicht" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Erklärung des Kunden, auf eine Beratung durch den Vermittler zu verzichten.
Ja = Kunde hat Entsprechendes erklärt
Nein = Sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AntragUnterschrieben" type="dt:ST_JaNein" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe, ob ein unterschriebener Antrag (elektronisch oder materiell) vorliegt.
Ja = Ein entsprechender Antrag liegt vor
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ZustimmungFinanzdienstleister" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="DatenschutzerklaerungUnterschrieben" type="dt:ST_JaNein" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Angabe, ob die Datenschutzerklärung vom Kunden unterschrieben wurde.
Ja = Datenschutzerklärung wurde vom Kunden unterschrieben
Nein = sonst</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Abschlussmodell" type="dt:ST_Abschlussmodell" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art des Abschlussmodells (z.B. Antragsmodell, Invitatiomodell).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ArtDerBeratung" type="dt:ST_ArtDerBeratung" minOccurs="0" maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie der Kunde vom Vermittler beraten wurde (z.B. durch persönliches Gespräch).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="BedingungUebergabeform" type="dt:ST_BedingungUebergabeform" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie dem Kunden die VVG-konformen Versicherungsbedingungen ausgehändigt wurden (z.B. durch E-Mail).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Unterschriftsverfahren" type="dt:ST_Unterschriftsverfahren" minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Attribut zur Festlegung, wie die Willenserklärung erfolgt.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DatenschutzerklaerungKenntnisnahme"
                            type="dt:ST_DatenschutzerklaerungKenntnisnahme"
                            minOccurs="0"
                            maxOccurs="1"
                            nillable="true">
                  <xsd:annotation>
                     <xsd:documentation xml:lang="de">Art, wie der Kunde über die Datenschutzerklärung aufgeklärt wurde (z.B. durch Aushändigung).</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Antragsart" type="dt:ST_Antragsart" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="Vertragsnummer" type="allg:CT_Vertragsnummer" minOccurs="0" maxOccurs="1"
                            nillable="true"/>
               <xsd:element name="ZusaetzlicheAntragsdaten" type="CT_ZusaetzlicheAntragsdaten"
                            minOccurs="0"
                            maxOccurs="unbounded"/>
               <xsd:element name="Beitragszahler" type="partner:CT_Beitragszahler" minOccurs="0"
                            maxOccurs="1"
                            nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getQuoteResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_QuoteResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CT_OfferRequest">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Nachricht zur Anforderung eines Angebots.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAnfrage">
            <xsd:sequence>
               <xsd:element name="Angebot" type="CT_Angebot" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getOrderQuestionsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OrderResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOfferQuestions">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OfferRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="CT_OrderResponse">
      <xsd:annotation>
         <xsd:documentation xml:lang="de">Antwort auf Anfrage nach einem Antrag bzw. Einreichen eines solchen.</xsd:documentation>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="nachr:CT_ProzessAntwort">
            <xsd:sequence>
               <xsd:element name="Antrag" type="CT_Antrag" minOccurs="0" maxOccurs="1" nillable="true"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="getOrderQualified">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Request" type="CT_OrderRequest" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="getOfferQuestionsResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Response" type="CT_OfferResponse" minOccurs="1" maxOccurs="1"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>